# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=8246
DB_NAME=hospital_db

# JWT Configuration
ACCESS_TOKEN_SECRET=your-access-token-secret
EXPIRES_ACCESS_TOKEN=15m
REFRESH_TOKEN_SECRET=your-refresh-token-secret
EXPIRES_REFRESH_TOKEN=7d
RECOVERY_TOKEN_SECRET=your-recovery-token-secret
EXPIRES_RECOVERY_TOKEN=5m

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

# Server Configuration
PORT=5000 